.login__box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 95vh;
}

.icon {
  width: 300px;
}

@font-face {
  font-family: "Binggrae-Two";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.description div {
  font-family: "Binggrae-Two";
  position: relative;
  bottom: 3rem;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.description div:nth-of-type(2) {
  width: 0px;
  animation: reveal-left 7s forwards;
}

.description div:nth-of-type(3) {
  width: 0px;
  animation: reveal-right 7s forwards;
}

.description div:nth-of-type(2) span {
  margin-left: -5px;
  animation: slidein-left 7s forwards;
}

.description div:nth-of-type(3) span {
  margin-right: -5px;
  animation: slidein-right 7s forwards;
}

@keyframes slidein-left {
  0% {
    margin-left: -100px;
  }
  30% {
    margin-left: -100px;
  }
  60% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes slidein-right {
  0% {
    margin-right: -100px;
  }
  30% {
    margin-right: -100px;
  }
  60% {
    margin-right: 0px;
  }
  100% {
    margin-right: 0px;
  }
}

@keyframes reveal-left {
  80% {
    width: 2.4rem;
  }
  100% {
    opacity: 1;
    width: 2.4rem;
  }
}

@keyframes reveal-right {
  80% {
    width: 2.6rem;
  }
  100% {
    opacity: 1;
    width: 2.6rem;
  }
}
