.plan_page {
  --main-color: #242f9b;
  --light-color: #7c83fd;
  --sub-color: #a369e5;
  --text-color: #00033f;
  --gray-color: #f0f0f0;
  --point-color: #a66cff;
  --error-color: rgb(248, 40, 72);
  --inner-text-color: white;
}

.icon {
  height: 0px;
  font-size: 40vw;
  z-index: -10;
  left: 30vw;
  top: 20vh;
  position: absolute;
  opacity: 0.1;
}

.report_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 12vh;
  right: 5vw;
  width: 16vw;
  height: 16vw;
  background: var(--main-color);
  opacity: 0.8;
  border-radius: 100%;
  color: white;
  font-size: 8vw;
}

.report_btn p {
  font-size: 0.5rem;
  margin: 0;
}
