.food_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: solid 1px;
  margin-bottom: 0.5rem;
  padding: 0.3rem 0;
}

.top_area {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.food_cnt {
  color: var(--main-color);
}
