.container {
  margin-top: 9vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70vh;
}

.bcontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 8vh;
  background-color: var(--main-color);
  bottom: 0;
  position: absolute;
}

.icon {
  font-size: 2rem;
  margin: 5px;
  color: white;
}
