.container {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 5%;
}

.title {
  width: 100%;
  height: 5vh;
  font-size: 20px;
  font-weight: 1000;
  margin-bottom: 2vh;
  text-align: start;
}

.box {
  width: 100%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  background-color: var(--gray-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.boxTitle {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2vh;
}

.boxinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin-bottom: 2vh;
}

.boxicon i {
  font-size: 7rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    180deg,
    var(--main-color) 44%,
    var(--light-color) 88%
  );
}

.userinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  width: 60%;
}

.user_info_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px var(--main-color);
  width: 100%;
}

.activity_and_goal {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 1vh;
}

.activity_and_goal i {
  font-size: 24px;
}

.itemList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.item {
  width: 20%;
  aspect-ratio: 1/1;
  color: var(--inner-text-color);
  background: var(--sub-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  font-size: 0.9rem;
}

.box_logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 2vh;
  background-color: var(--gray-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 2%;
  font-weight: 1000;
}
