.chart_box {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.chart_box span {
  font-weight: bolder;
  float: left;
  font-size: 1.1rem;
  margin-bottom: 0.4rem;
}

.alert {
  font-size: 0.8rem;
}
