.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.pickedItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  background: linear-gradient(
    180deg,
    var(--main-color) 44%,
    var(--light-color) 100%
  );
  color: black;
}

.unpickedItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  background: var(--gray-color);
  color: black;
}
