.nutrient_box {
  background: var(--gray-color);
  border-radius: 5px;
  margin-bottom: 5vh;
  padding: 1rem 1rem;
  height: 265px;
}

.nutrient_box span {
  font-weight: bolder;
  float: left;
  font-size: 1.1rem;
}

.chart_box {
  position: relative;
  bottom: 1rem;
}

.top_area {
  display: flex;
  justify-content: space-between;
}

.chart_info {
  display: flex;
}

.info_item {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  font-size: 0.9rem;
}

.info_item div {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 12px;
  margin-right: 0.3rem;
}

.info_item p {
  margin: 0;
}
