:root {
  --main-color: #242f9b;
  --light-color: #7c83fd;
  --sub-color: #a369e5;
  --text-color: #00033f;
  --gray-color: #f0f0f0;
  --point-color: #ffcaca;
  --error-color: rgb(248, 40, 72);
  --inner-text-color: white;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.AppContainer {
  width: 450px;
}

.top_line_gradient {
  height: 2vh;
  background: var(--main-color);
  background: linear-gradient(
    90deg,
    var(--main-color) 0%,
    var(--light-color) 50%,
    var(--main-color) 100%
  );
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  z-index: 100;
}

#top_nav_area {
  height: 7vh;
  background: var(--gray-color);
  width: 100%;
  max-width: 450px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 2vh;
  z-index: 100;
}

#bottom_nav_area {
  position: fixed;
  bottom: 0;
}

.box_shadow {
  box-shadow: 0 4px 5px gray;
}

.gradient_color__vertical {
  background: var(--main-color);
  background: linear-gradient(
    180deg,
    var(--main-color) 44%,
    var(--light-color) 100%
  );
}

.gradient_color__horizon {
  background: var(--main-color);
  background: linear-gradient(
    90deg,
    var(--main-color) 44%,
    var(--light-color) 88%
  );
}

a {
  text-decoration: none;
  color: var(--text-color);
}

/* .size_block {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #000000de;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.size_block__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 30vw;
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  flex-direction: column;
} */

@media (min-height: 800px) {
  .App {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 450px) {
  .AppContainer {
    width: 100vw;
  }
}

/* @media (max-width: 500px) {
  .size_block {
    display: none;
  }
} */
